{% extends 'main/base.html' %}

{% block content %}
    <body>
    {% if user.is_authenticated %}
        <div class="container-xxl">
            <div>
                <br>Статистика
                <br>количество рассылок всего,
                <br>количество активных рассылок,
                <br>количество уникальных клиентов для рассылок,
                <br>3 случайные статьи из блога.

            </div>
        </div>
    {% else %}
        <div class="container-xxl">
            <div>
                <br>Войдите или зарегистрируйтесь для продолжения работы
            </div>
        </div>
    {% endif %}
    </body>
{% endblock %}
